.car_box {
    width: 100%;
    height: 100%;

}

.itemBox {
    width: 90%;
    height: auto;
    display: inline-block;
    position: relative;
}

.card1 {
    position: relative;
    background: #082536;
    border-radius: 15px;
    border: none;
    overflow: hidden;

}

.card1:before {
    content: '';
    position: absolute;
    top: -50%;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: #2196f3; */
    background: #48b0e7;
    transform: skewY(345deg);
    transition: 0.5s;
}

.card1:hover::before {
    top: -70%;
    transform: skewY(390deg);
}

.card1 .imgBox {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
    z-index: 1;
}

.card1 .imgBox img {
    width: 100%;
    height: auto;
    transform: scale(1) translateY(0);
    transition: all 0.5s;
}

.card1:hover .imgBox img {
    transform: scale(0.9) translateY(-10px);
}

.card1 .contentBox {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1;
    transform: translateY(18px);
    transition: transform 0.5s;
}

.card1 .contentBox h3 {
    font-size: 70%;
    padding: 0;
    margin: 2px 0;
    color: white;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    overflow: hidden
}

.card1 .contentBox .price {
    font-size: 90%;
    color: #e67e22;
    margin-top: 5px;
    font-weight: 500;
    letter-spacing: 1px;
    overflow: hidden;
}

.card1 .contentBox .product-bottom {
    position: absolute;
    display: block;
    transition: display 0.5s;
}

.card1:hover .contentBox {
    transform: translateY(-5px);
}

.card1 .contentBox .buy {
    position: relative;
    opacity: 0;
    padding: 10px 15px;
    text-decoration: none;
    color: white;
    font-size: 70%;
    background: #2196f3;
    border-radius: 30px;
    text-transform: uppercase;
    transition: 0.5s;
}

.card1:hover .contentBox .buy {
    top: -5px;
    opacity: 1;
}

.right_list {
    height: 100vh;
    position: sticky;
    overflow: scroll;
    overflow-x: hidden;
    width: 112%;
    padding-bottom: 15%;
}

.left_list {
    border-right: 2px solid rgb(121, 113, 3);
    height: 100vh;
    position: sticky;
    overflow: hidden;

}

@media screen and (max-width: 768px) {
    .left_list {
        display: none;
    }

    .right_list {
        width: 100%;
    }

    body {
        overflow: scroll;
    }
}